/* --------------- CSS RESET --------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --------------- BODY --------------- */

body {
  width: 100%;
  height: 100vh;
  font-family: 'Lexend Exa', sans-serif;
  color: #212121;
}

/* --------------- HEADINGS AND PARAGRAPHS --------------- */

h1 {
  font-size: 95px;
}

h2 {
  font-weight: 500;
  font-size: 40px;
}

h3 {
  color: #bda839;
  margin-bottom: 20px;
}

h6 {
  font-size: 12px;
  color: #0f1316;
  line-height: 60px;
}

p {
  margin-top: 30px;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: light;
  color: #6f6f6f;
  line-height: 30px;
}

.smaller-text {
  font-size: 16px;
}

/* --------------- NAVIGATION BAR --------------- */

nav {
  margin: 0 auto;
  width: 80%;
  height: 100px;
  border: solid 1px rgb(236, 203, 203);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 100px;
  height: 32px;
}

.nav-buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style-type: none;
  gap: 100px;
  font-size: 20px;
}

.nav-button-right {
  border: none;
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid #acacac;
  border-radius: 2px;
  font-family: 'Lexend Exa', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #212121;
}

/* --------------- HEADER --------------- */

header {
  margin: 0 auto;
  height: 800px;
  display: flex;
  align-items: center;
  border: solid 1px rgb(236, 203, 203);
  background-color: #f2efd2;
}

.header-text-box {
  width: 900px;
  height: 440px;
  border: solid 1px rgb(68, 236, 121);
  margin-left: 10%;
}

.header-image {
  margin-left: 200px;
  height: 100%;
  border: solid 1px rgb(68, 236, 121);
}

.text-box-button {
  margin-top: 40px;
  border: none;
  background-color: #f3cc14;
  padding: 10px 20px;
  border-radius: 2px;
  font-family: 'Lexend Exa', sans-serif;
  font-size: 17px;
  font-weight: 500;
}

/* --------------- MAIN --------------- */

/* --------------- SECTION ONE --------------- */

.section-one {
  margin: 0 auto;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px rgb(236, 203, 203);
  text-align: center;
}

span {
  background-color: #f3cc14;
  padding: 6px 10px;
}

/* --------------- SECTION HEXAGONS --------------- */

.section-hexagons {
  margin: 0 auto;
  width: 80%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px rgb(236, 203, 203);
  
}

.the-finest {
  margin-left: 140px;
}

.hexagon-pic {
  height: 500px;
  width: 434px;
}

.hexagon-pic.bee {
  margin-left: 120px;
}

.hexagon-pic.honey-plate {
  margin-right: 130px;
}

.features-box {
  margin-right: 80px;
  border: solid 1px rgb(236, 203, 203);
  margin-bottom: 80px;
}

.benefits-list {
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
}

.number-images {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.small-image {
  width: 25px;
  height: 25px;
}

.three-benefits {
  margin-left: 15px;
}
